.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Scoreboard";
      border: 6px solid orange;
  }
  
  .Scoreboard {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "homeTeamColumn gameInfoColumn awayTeamColumn";
    grid-area: Scoreboard;
    border: 5px solid aqua;
    text-align: center;
    font-family: Orbitron;
  }
  
  .homeTeamColumn {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "homeTeamGameArea"
      "homeTeamAthleteIdentityArea";
    grid-area: homeTeamColumn;
    border: 4px solid Red;
  }
  
  .homeTeamGameArea {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hTgIndentitySection hTgStatSection";
    grid-area: homeTeamGameArea;
    color: red;
    border: 3px solid yellow;
  }
  
  .hTgIndentitySection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hTgITeamCityTile"
      "hTgITeamLogoTile"
      "hTgITeamMascotTile";
    grid-area: hTgIndentitySection;
    font-size: 50;
    border: 2px solid purple;
  }
  
  .hTgITeamCityTile { grid-area: hTgITeamCityTile; 
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    border: 1px solid black;
  }
  
  .hTgITeamLogoTile { grid-area: hTgITeamLogoTile;
    font-size: 20; 
    border: 1px solid black;}
  
  .hTgITeamMascotTile { grid-area: hTgITeamMascotTile; 
    color: white;
	  font-size: 47px;
	  -webkit-text-stroke: 1px #f8a8a8;
	  text-shadow: 0px 2px 4px red;
    border: 1px solid black;
  }
  
  .hTgStatSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr .75fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hTgSTeamScoreTile"
      "hTgSTeamFoulTile";
    grid-area: hTgStatSection;
    border: 2px solid purple;
  }
  
  .hTgSTeamScoreTile {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hTgStScoreHeader hTgStScoreDisplay"
      ". hTgStScoreDisplay";
    grid-area: hTgSTeamScoreTile;
    border: 1px solid black;
  }
  
  .hTgStScoreHeader { grid-area: hTgStScoreHeader; 
    font-size: 20;
    text-align: left;
  }
  
  .hTgStScoreDisplay { grid-area: hTgStScoreDisplay; 
    font-size: 80;
    text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 24px 30px rgba(0,0,0,0.1);
  }
  
  .hTgSTeamFoulTile {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". hTgStFoulDisplay"
      "hTgStFoulFooter hTgStFoulDisplay";
    grid-area: hTgSTeamFoulTile;
    border: 1px solid black;
  }
  
  .hTgStFoulDisplay { grid-area: hTgStFoulDisplay;
    font-size: 50;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
  }
  
  .hTgStFoulFooter { grid-area: hTgStFoulFooter;
    font-size: 20;
    text-align: left;
  }
  
  .homeTeamAthleteIdentityArea {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hTaIStarterSection"
      "hTaIReserveSection";
    grid-area: homeTeamAthleteIdentityArea;
    border: 3px solid yellow;
  }
  
  .hTaIStarterSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hTaIsPlayer1Tile"
      "hTaIsPlayer2Tile"
      "hTaIsPlayer3Tile"
      "hTaIsPlayer4Tile"
      "hTaIsPlayer5Tile";
    grid-area: hTaIStarterSection;
    border: 2px solid purple;
  }
  
  .hTaIsPlayer1Tile { grid-area: hTaIsPlayer1Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer2Tile { grid-area: hTaIsPlayer2Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer3Tile { grid-area: hTaIsPlayer3Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer4Tile { grid-area: hTaIsPlayer4Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer5Tile { grid-area: hTaIsPlayer5Tile; 
    border: 1px solid black;}
  
  .hTaIReserveSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hTaIsPlayer6Tile"
      "hTaIsPlayer7Tile"
      "hTaIsPlayer8Tile"
      "hTaIsPlayer9Tile"
      "hTaIsPlayer10Tile";
    grid-area: hTaIReserveSection;
    border: 2px solid purple;
  }
  
  .hTaIsPlayer6Tile { grid-area: hTaIsPlayer6Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer7Tile { grid-area: hTaIsPlayer7Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer8Tile { grid-area: hTaIsPlayer8Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer9Tile { grid-area: hTaIsPlayer9Tile; 
    border: 1px solid black;}
  
  .hTaIsPlayer10Tile { grid-area: hTaIsPlayer10Tile; 
    border: 1px solid black;}
  
  .gameInfoColumn {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr .75fr 1.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gameInfoSponsPossArea"
      "gameInfoGameTimeArea"
      "gameInfoTimeoutArea"
      "gameInfoLeaderBoardArea";
    grid-area: gameInfoColumn;
    border: 4px solid green;
  }
  
  .gameInfoSponsPossArea {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIspSponsorSection"
      "gIspPossessionSection";
    grid-area: gameInfoSponsPossArea;
    border: 3px solid yellow;
  }
  
  .gIspSponsorSection {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIsPsHomeAdTile gIsPsAwayAdTile";
    grid-area: gIspSponsorSection;
    border: 2px solid purple;
  }
  
  .gIsPsHomeAdTile { grid-area: gIsPsHomeAdTile; 
    border: 1px solid black;}
  
  .gIsPsAwayAdTile { grid-area: gIsPsAwayAdTile; 
    border: 1px solid black;}
  
  .gIspPossessionSection {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIsPHomeArrowTile gIsPPossSymTile gIsPAwayArrowTile";
    grid-area: gIspPossessionSection;
    border: 2px solid purple;
  }
  
  .gIsPHomeArrowTile { grid-area: gIsPHomeArrowTile; 
    border: 1px solid black;}
  
  .gIsPPossSymTile { grid-area: gIsPPossSymTile; 
    border: 1px solid black;}
  
  .gIsPAwayArrowTile { grid-area: gIsPAwayArrowTile; 
    border: 1px solid black;}
  
  .gameInfoGameTimeArea {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTClockSection"
      "gIgTPeriodSection"
      "gIgTClockControlsSection";
    grid-area: gameInfoGameTimeArea;
    border: 3px solid yellow;
  }
  
  .gIgTClockSection {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcTOLHomeTile gIgTcDisplayTile gIgTcTOLAwayTile";
    grid-area: gIgTClockSection;
    border: 2px solid purple;
  }
  
  .gIgTcTOLHomeTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcThHeader"
      "gIgTcThDisplay";
    grid-area: gIgTcTOLHomeTile;
    border: 1px solid black;
  }
  
  .gIgTcThHeader { grid-area: gIgTcThHeader; }
  
  .gIgTcThDisplay { grid-area: gIgTcThDisplay; }
  
  .gIgTcDisplayTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcDHeader"
      "gIgTcClockDisplay";
    grid-area: gIgTcDisplayTile;
    border: 1px solid black;
  }
  
  .gIgTcDHeader { grid-area: gIgTcDHeader; }
  
  .gIgTcClockDisplay { grid-area: gIgTcClockDisplay; }
  
  .gIgTcTOLAwayTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcTAHeader"
      "gIgTcTADisplay";
    grid-area: gIgTcTOLAwayTile;
    border: 1px solid black;
  }
  
  .gIgTcTAHeader { grid-area: gIgTcTAHeader; }
  
  .gIgTcTADisplay { grid-area: gIgTcTADisplay; }
  
  .gIgTPeriodSection {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTpHeader gIgTpHeader gIgTpHeader gIgTpHeader"
      "gIgTp1Tile gIgTp2Tile gIgTp3Tile gIgTp4Tile";
    grid-area: gIgTPeriodSection;
    border: 2px solid purple;
  }
  
  .gIgTpHeader { grid-area: gIgTpHeader; }
  
  .gIgTp1Tile { grid-area: gIgTp1Tile; 
    border: 1px solid black;}
  
  .gIgTp2Tile { grid-area: gIgTp2Tile; 
    border: 1px solid black;}
  
  .gIgTp3Tile { grid-area: gIgTp3Tile; 
    border: 1px solid black;}
  
  .gIgTp4Tile { grid-area: gIgTp4Tile; 
    border: 1px solid black;}
  
  .gIgTClockControlsSection {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcCTimeIncTile gIgTcCTimeDecTile gIgTcCStartTile gIgTcCStopTile";
    grid-area: gIgTClockControlsSection;
    border: 2px solid purple;
  }
  
  .gIgTcCTimeIncTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcCTimeIncHeader"
      "gIgTcCTimeIncBtn";
    grid-area: gIgTcCTimeIncTile;
    border: 1px solid black;
  }
  
  .gIgTcCTimeIncHeader { grid-area: gIgTcCTimeIncHeader; }
  
  .gIgTcCTimeIncBtn { grid-area: gIgTcCTimeIncBtn; }
  
  .gIgTcCTimeDecTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcCTimeDecHeader"
      "gIgTcCTimeDecBtn";
    grid-area: gIgTcCTimeDecTile;
    border: 1px solid black;
  }
  
  .gIgTcCTimeDecHeader { grid-area: gIgTcCTimeDecHeader; }
  
  .gIgTcCTimeDecBtn { grid-area: gIgTcCTimeDecBtn; }
  
  .gIgTcCStartTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcCStartHeader"
      "gIgTcCStartBtn";
    grid-area: gIgTcCStartTile;
    border: 1px solid black;
  }
  
  .gIgTcCStartHeader { grid-area: gIgTcCStartHeader; }
  
  .gIgTcCStartBtn { grid-area: gIgTcCStartBtn; }
  
  .gIgTcCStopTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIgTcCStopHeader"
      "gIgTcCStopBtn";
    grid-area: gIgTcCStopTile;
    border: 1px solid black;
  }
  
  .gIgTcCStopHeader { grid-area: gIgTcCStopHeader; }
  
  .gIgTcCStopBtn { grid-area: gIgTcCStopBtn; }
  
  .gameInfoTimeoutArea {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIToHomeTeamSection gIToAwayTeamSection";
    grid-area: gameInfoTimeoutArea;
    border: 3px solid yellow;
  }
  
  .gIToHomeTeamSection {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gItOh60sTile gItOh30sTile";
    grid-area: gIToHomeTeamSection;
    border: 2px solid purple;
  }
  
  .gItOh60sTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gItOh60sHeader"
      "gItOh60sBtns";
    grid-area: gItOh60sTile;
    border: 1px solid black;
  }
  
  .gItOh60sHeader { grid-area: gItOh60sHeader; }
  
  .gItOh60sBtns { grid-area: gItOh60sBtns; }
  
  .gItOh30sTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gItOh30sHeader"
      "gItOh30sBtns";
    grid-area: gItOh30sTile;
    border: 1px solid black;
  }
  
  .gItOh30sHeader { grid-area: gItOh30sHeader; }
  
  .gItOh30sBtns { grid-area: gItOh30sBtns; }
  
  .gIToAwayTeamSection {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gItOa60sTile gItOa30sTile";
    grid-area: gIToAwayTeamSection;
    border: 2px solid purple;
  }
  
  .gItOa60sTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gItOa60sHeader"
      "gItOa60sBtns";
    grid-area: gItOa60sTile;
    border: 1px solid black;
  }
  
  .gItOa60sHeader { grid-area: gItOa60sHeader; }
  
  .gItOa60sBtns { grid-area: gItOa60sBtns; }
  
  .gItOa30sTile {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gItOa30sHeader"
      "gItOa30sBtns";
    grid-area: gItOa30sTile;
    border: 1px solid black;
  }
  
  .gItOa30sHeader { grid-area: gItOa30sHeader; }
  
  .gItOa30sBtns { grid-area: gItOa30sBtns; }
  
  .gameInfoLeaderBoardArea {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gILbPointsSection gILbRebSection gILbAssistSection";
    grid-area: gameInfoLeaderBoardArea;
    border: 3px solid yellow;
  }
  
  .gILbPointsSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1.1fr 1.1fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIlBpHeader"
      "gIlBpLeader1Tile"
      "gIlBpLeader2Tile"
      "gIlBpLeader3Tile";
    grid-area: gILbPointsSection;
    border: 2px solid purple;
  }
  
  .gIlBpHeader { grid-area: gIlBpHeader; }
  
  .gIlBpLeader1Tile { grid-area: gIlBpLeader1Tile; 
    border: 1px solid black;}
  
  .gIlBpLeader2Tile { grid-area: gIlBpLeader2Tile; 
    border: 1px solid black;}
  
  .gIlBpLeader3Tile { grid-area: gIlBpLeader3Tile; 
    border: 1px solid black;}
  
  .gILbRebSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1.1fr 1.1fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIlBrHeader"
      "gIlBrLeader1Tile"
      "gIlBrLeader2Tile"
      "gIlBrLeader3Tile";
    grid-area: gILbRebSection;
    border: 2px solid purple;
  }
  
  .gIlBrHeader { grid-area: gIlBrHeader; }
  
  .gIlBrLeader1Tile { grid-area: gIlBrLeader1Tile; 
    border: 1px solid black;}
  
  .gIlBrLeader2Tile { grid-area: gIlBrLeader2Tile; 
    border: 1px solid black;}
  
  .gIlBrLeader3Tile { grid-area: gIlBrLeader3Tile; 
    border: 1px solid black;}
  
  .gILbAssistSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1.1fr 1.1fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gIlBaHeader"
      "gIlBaLeader1Tile"
      "gIlBaLeader2Tile"
      "gIlBaLeader3Tile";
    grid-area: gILbAssistSection;
    border: 2px solid purple;
  }
  
  .gIlBaHeader { grid-area: gIlBaHeader; }
  
  .gIlBaLeader1Tile { grid-area: gIlBaLeader1Tile; 
    border: 1px solid black;}
  
  .gIlBaLeader2Tile { grid-area: gIlBaLeader2Tile; 
    border: 1px solid black;}
  
  .gIlBaLeader3Tile { grid-area: gIlBaLeader3Tile; 
    border: 1px solid black;}
  
  .awayTeamColumn {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "awayTeamGameArea"
      "awayTeamAthleteIdentityArea";
    grid-area: awayTeamColumn;
    border: 4px solid blue;
  }
  
  .awayTeamGameArea {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTgStatSection aTgIdentitySection";
    grid-area: awayTeamGameArea;
    color: blue;
    border: 3px solid yellow;
  }
  
  .aTgStatSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr .75fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTgSTeamScoreTile"
      "aTgSTeamFoulTile";
    grid-area: aTgStatSection;
    border: 2px solid purple;
  }
  
  .aTgSTeamScoreTile {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTgStScoreDisplay aTgStScoreHeader"
      "aTgStScoreDisplay .";
    grid-area: aTgSTeamScoreTile;
    border: 1px solid black;
  }
  
  .aTgStScoreHeader { grid-area: aTgStScoreHeader; 
    font-size: 20;
  }
  
  .aTgStScoreDisplay { grid-area: aTgStScoreDisplay;
    font-size: 80;
    text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 24px 30px rgba(0,0,0,0.1);
  }
  
  .aTgSTeamFoulTile {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTgStFoulDisplay ."
      "aTgStFoulDisplay aTgStFoulFooter";
    grid-area: aTgSTeamFoulTile;
    border: 1px solid black;
  }
  
  .aTgStFoulDisplay { grid-area: aTgStFoulDisplay; 
    font-size: 50;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
  }
  
  .aTgStFoulFooter { grid-area: aTgStFoulFooter; 
    font-size: 20;
  }
  
  .aTgIdentitySection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTgITeamCityTile"
      "aTgITeamLogoTile"
      "aTgITeamMascotTile";
    grid-area: aTgIdentitySection;
    font-size: 50;
    border: 2px solid purple;
  }
  
  .aTgITeamCityTile { grid-area: aTgITeamCityTile; 
    color: blue;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    border: 1px solid black;
  }
  
  .aTgITeamLogoTile { grid-area: aTgITeamLogoTile;
    font-size: 20; 
    border: 1px solid black;}
  
  .aTgITeamMascotTile { grid-area: aTgITeamMascotTile; 
    color: white;
	  font-size: 47px;
	  -webkit-text-stroke: 1px #a1a3f7;
	  text-shadow: 0px 2px 4px blue;
    border: 1px solid black;
  }
  
  .awayTeamAthleteIdentityArea {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTaIStarterSection"
      "aTaIReserveSection";
    grid-area: awayTeamAthleteIdentityArea;
    border: 3px solid yellow;
  }
  
  .aTaIStarterSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTaIsPlayer1Tile"
      "aTaIsPlayer2Tile"
      "aTaIsPlayer3Tile"
      "aTaIsPlayer4Tile"
      "aTaIsPlayer5Tile";
    grid-area: aTaIStarterSection;
    border: 2px solid purple;
  }
  
  .aTaIsPlayer1Tile { grid-area: aTaIsPlayer1Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer2Tile { grid-area: aTaIsPlayer2Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer3Tile { grid-area: aTaIsPlayer3Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer4Tile { grid-area: aTaIsPlayer4Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer5Tile { grid-area: aTaIsPlayer5Tile; 
    border: 1px solid black;}
  
  .aTaIReserveSection {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aTaIsPlayer6Tile"
      "aTaIsPlayer7Tile"
      "aTaIsPlayer8Tile"
      "aTaIsPlayer9Tile"
      "aTaIsPlayer10Tile";
    grid-area: aTaIReserveSection;
    border: 2px solid purple;
  }
  
  .aTaIsPlayer6Tile { grid-area: aTaIsPlayer6Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer7Tile { grid-area: aTaIsPlayer7Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer8Tile { grid-area: aTaIsPlayer8Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer9Tile { grid-area: aTaIsPlayer9Tile; 
    border: 1px solid black;}
  
  .aTaIsPlayer10Tile { grid-area: aTaIsPlayer10Tile;
    border: 1px solid black; }
  